{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>
            "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1>Share "{{ post.title }}" by e-mail</h1>
        
        {% comment %}
        Add "novalidate" attribute to deactivate the browser validation and test the Django one.
        {% endcomment %}
        <form method="post">
            {% comment %}
            Use as_ul or as_table to display an HTML unordered list or table.
            {% endcomment %}
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send e-mail">
        </form>
    {% endif %}
{% endblock %}